body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: pink;
    font-family: Arial, sans-serif;
    text-align: center;
}

#pig {
    position: absolute;
    width: 100px;
    transition: left 0.8s ease, top 0.8s ease;
}

.hidden {
    display: none;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

#pig.fade-out {
    transition: opacity 2s ease-in;
    opacity: 0;
}

#fireworks {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
